name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk/svg-only@v3
        with:
          github_user_name: HUSSEINKHRAYZAT
          outputs: |
            dist/snake.svg
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: output
          folder: dist
